{% extends "layout.html" %}


{% block body %}

<title>Contact</title>




  <div class="jumbotron jumbotron-fluid">
    <div class="container">
    <h1 class="display-4">LinkedIn</h1>
    <p class="lead">To know more check my profile on LinkedIn</p>
    <button class="btn btn-success" onclick=" window.open(' https://www.linkedin.com/in/ankit-singh-ask/','_blank')"> LinkedIn</button>
    </div>
  </div>

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
    <h1 class="display-4">Github Profile</h1>
    <p class="lead">My projects and assignment</p>
    <button class="btn btn-success" onclick=" window.open('https://github.com/ankitsingh03','_blank')"> Github</button>
    </div>
  </div>

   <div class="jumbotron jumbotron-fluid">
    <div class="container">
    <h1 class="display-4">Hacker Rank</h1>
    <p class="lead">You can see my certifications and medals</p>
    <button class="btn btn-success" onclick=" window.open('https://www.hackerrank.com/singh_ankit240','_blank')"> Github</button>
    </div>
  </div>

<h3>Email- singh.ankit240@gmail.com</h3>
  


{% endblock %}