{% extends "layout.html" %}


{% block body %}

<title>Home</title>
  <body>
    
    
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
    <h1 class="display-4">Ankit Singh Kushwaha</h1>
    <p class="lead">I'm fresher currently searching for a good opportunity. I'm making myself perfect in python by projects and also do code on hacker rank. I also know Django, HTML 5, bootstrap, and Postgre. eager to learn new things and want to utilize my full potential.</p>
    <center><button class="btn btn-success" onclick=" window.open('https://drive.google.com/drive/folders/1qeqB3d7-gz0ZHJbvWO4xX78Mpslx7hzh?usp=sharing','_blank')"> View Resume</button></center>
    </div>
  </div>

   <h3><i>Experience</i></h3>
    <ul>
     <li>Looking for job</li>
    </ul>

    <h3><i>Skills</i></h3>
     <ul>
      <li>Python</li> 
      <li>oops</li>
      <li>Django</li>
      <li>MySQL</li>
      <li>Postgre</li>
     </ul>

    <h3><i>Achivements</i></h3>
     <ul>
       <li>Python Certification by hackerrank</li>
     </ul>

     <h3><i>Education</i></h3>
     <ul>
       <li>
        Bachelor of Engineering from Acropolis Institute of Technology & Research, Indore affiliated to RGPV specialization in Mechanical Engineering (2015-2019) with 6.98 CGPA. 
       </li>
       <li>
         Senior Secondary School Certificate (12th) from Kendriya Vidyalaya, Dewas (CBSE) with 63.4% in the year 2015.
       </li>
       <li>
         High School Certificate (10th) from Kendriya Vidyalaya, Dewas (CBSE) with 7.6 CGPA in the year 2013.
       </li>
     </ul>



  </body>
    


{% endblock %}