{% extends "layout.html" %}


{% block body %}

<title>Project</title>
 <div class="jumbotron jumbotron-fluid">
    <div class="container">
    <h1 class="display-4">Projects</h1><br><br>


    <!-- project 1 -->
     <h3><i>1. Portfolio</i></h3>
    	<p>This Project is done with the help of Python, Django, HTML5, and Bootstrap. It's still in progress.</p>
    
    <br>

    <!-- project 2 -->
     <h3><i>2. Word Finder Game</i></h3>
    	<p>This is a game where user has to find the hidden word letter by letter in a given chance.<br>
		Features of the game:
		every time the random word is given to the user.
		you can modify the number chance.
		you can type anything, the game always respond to user inputs and lead the user to right direction.</p>
    
    <button class="btn btn-success" onclick=" window.open('https://github.com/ankitsingh03/Word-Finder-Game','_blank')">Github Link</button>

<br><br>

    <!-- project 3 -->
     <h3><i>3. Text Editor</i></h3>
    	<p>This project is made in Django. this is use to edit tests like remove punctuation, remove extra space, remove the extra new line, and much more. it's short and simple.</p>
    
    <button class="btn btn-success" onclick=" window.open('https://github.com/ankitsingh03/test_editor','_blank')">Github Link</button>


    <br><br>

    <!-- project 4 -->
     <h3><i>4. River cleaning bot (IOT)</i></h3>
     	<p>Major project in college</p>
    	<p>It is fully based on IOT. It also have a inbuilt camera. we can use this boat from anywhere in the world. It's fully remote controlled and cost saving product. Parts are easily present. Zero complexity. It has a conveyor belt that grab the garbage.</p>
    
     
    <br>

    <!-- project 5 -->
     <h3><i>5. Floor cleaning bot (IOT)</i></h3>
    	<p>This project is made in Django. this is use to edit tests like remove punctuation, remove extra space, remove the extra new line, and much more. it's short and simple.</p>
    
    <button class="btn btn-success" onclick=" window.open('https://sites.google.com/view/development-of-mopping-bot/home','_blank')">Open Project</button>


    </div>
  </div>


{% endblock %}